PORT=3002
DATABASE_URL="postgresql://postgres:123456@localhost:5432/ordersdb?schema=public"
NATS_SERVERS="nats://localhost:4222"
CLERK_SECRET_KEY="sk_test_xxx"
CLERK_PUBLISHABLE_KEY="pk_test_xxx"
CLERK_AUTHORIZED_PARTIES="http://localhost:5173"